# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies & builds
node_modules
frontend/dist/*
!frontend/dist/gitkeep
dist-ssr
*.local

# Wails build artifacts
build/bin
*.md5

# Local SQLite databases & temporary exports
*.db
*.sqlite
*.sqlite3

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
